.Item__hamburguesa--tamaño{
    width: 200px;
    height: 150px;
}
.card{
    width: 300px;
    margin-top: 20px;
    margin-left: 30px;
}
.card-body{
    width: 250px;
    border: solid grey 1px;
    margin-top: 20px;
    margin-left: 30px;
}
.eliminarEstilos{
    text-decoration: none;
    font-style: none;
    color: black;
}