.carrito{
    width: 40px;
    height: 30px;
    color: orangered;
}
.numeroCarrito{
    orientation: absolute;
    color: white;
    text-decoration: none;
   
}
.contenedor{
    display: flex;
    flex-direction: row;
    text-decoration: none;


}
