.Imagen__logo{
    width: 300px;
    height: 200px;
}

.contenedor__carrito{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 350px;
    height:500 px;
    margin-left: 20px;
    margin-top: 10px;
    border: solid grey 1px;
}
.Contenedor{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tacho{
    color:red;
}