*{
    margin: 0;
    padding: 0;
}
.logo--tamaño{
    width: 150px;
    height: 100px;
    margin-left: 20px;
    position: absolute;
}
.logo--tamaño:hover{
    filter: saturate(220%);
}

.barraNavegacion__items{
    display: grid;
    height: 110px;
    grid-template-columns: 60px 180px 100px 100px 75px;  
    grid-template-rows:auto; 
    justify-content: end;
    align-items: flex-end;
    background-color: black;
    text-decoration: none;
}
.barraNavegacion__item{
    font-size: 22px;
    text-decoration: none;
    color: white;
}
.barraNavegacion__item:hover{
    background-color: orange;
    border-radius: 5px;
}
.estilosLink{
    text-decoration: none;
    color: white;
}
.barraNavegacion__item--drop{
    font-size: 22px;
    text-decoration: none;
    color: white;
}
.barraNavegacion__item--drop:hover{
    background-color: orange;
    border-radius: 5px;

}

